<md-dialog aria-label="" class="recipe-dialog recipe-dialog-padding" flex-sm="50" flex-xs="90">

    <md-dialog-content class="window-width">
        <div layout="column" flex>
            <div layout="column" layout-gt-sm="row" class="pb-8" flex>

                <!-- Show this block when width > 960px -->
                <!-- BLOCK STARTS HERE -->
                <div layout="column" class="p-16" flex hide show-gt-sm>
                    <div layout="row" layout-align="center center" class="title" flex="40">
                        {{recipe.name}}
                    </div>
                    <div layout="row" flex="10">
                        <span class="created-by"> Created by:&nbsp;</span>
                        <span class="created-by-name">{{recipe.createdBy}}</span>
                    </div>
                    <div layout="row" class="pt-8 description" flex="50">
                        "{{recipe.description}}"
                    </div>
                </div>
                <!-- /BLOCK ENDS HERE -->

                <div layout="column" flex layout-align="center center">
                    <img ng-src="{{recipe.url}}" style="width:100%;">
                </div>

                <!-- Show this block when width < 960px -->
                <!-- MOBILE BLOCK START HERE-->
                <div layout="column" class="p-8" flex hide-gt-sm>
                    <div layout="row" layout-align="center center" class="title pt-8">
                        {{recipe.name}}
                    </div>
                    <div layout="row" class="pt-8" >
                        <span class="created-by"> Created by:&nbsp;</span>
                        <span class="created-by-name">{{recipe.createdBy}}</span>
                    </div>
                    <div layout="row" class="pt-8 description">
                        "{{recipe.description}}"
                    </div>
                </div>
                <!-- /MOBILE BLOCK ENDS HERE -->

            </div>
            <div layout-gt-sm="row" layout="column" class="p-16 pt-24" flex>
                <div layout="column" flex>

                    <div layout="row" class="pb-8 labels">
                        Ingredients
                       <span flex layout="row" layout-align="end center" style="font-size:12px;">{{recipe.servings}} servings &nbsp;</span> <i class="fa fa-apple pr-16" aria-hidden="true"></i>
                    </div>
                    <md-divider>
                        <div layout="row" class="pt-8">
                            <ul>
                                <li ng-repeat="ingredient in recipe.ingredientsList" class="pt-5">{{ingredient}}</li>
                            </ul>
                        </div>
                    </md-divider>


                </div>
                <div layout="column" flex>
                    <div layout="row" class="pb-8 labels">
                        Directions
                        <span layout="row" flex layout-align="end center" style="font-size:12px;">{{recipe.timeInString}} &nbsp;</span><i class="fa fa-clock-o pr-16" aria-hidden="true"></i>
                    </div>
                    <md-divider>
                        <div layout="row" class="pt-8">
                             <ul>
                                <li ng-repeat="direction in recipe.directionsList" class="pt-5">{{direction}}</li>
                            </ul>
                        </div>
                    </md-divider>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" style="padding:0;margin-bottom:-8px;">
        <md-button ng-click="close()" aria-label="">
            <span>Close</span>
        </md-button>
    </md-dialog-actions>

</md-dialog>