<!--<md-content class="md-padding" layout-xs="column" layout="row" layout-wrap
 infinite-scroll="vm.initValues()" infinite-scroll-distance="2" infinite-scroll-disabled="infiniteScroll">-->
 <md-content class="md-padding recipe-width" layout-xs="column" layout="row" layout-wrap>
      <div layout="column" flex-gt-sm="25" flex-gt-xs="50" flex-xs>
      <div layout="row" ng-repeat="recipe in recipes">

            <md-card flex ng-click="vm.showDetails(recipe, $event)" style="cursor:pointer;">
                  
                  <img ng-src="{{recipe.url}}">
                  
                  <md-card-title>
                        <md-card-title-text>
                              <span class="md-headline">{{recipe.name}}</span>
                        </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                        <p>
                             {{recipe.shortDescription}}
                        </p>
                  </md-card-content>
                 
            </md-card>
      </div>
      </div>
      <div layout="column" flex-gt-sm="25" flex-gt-xs="50" flex-xs>
      <div layout="row" ng-repeat="recipe in recipes2" >

            <md-card flex ng-click="vm.showDetails(recipe, $event)" style="cursor:pointer;">
                  
                  <img ng-src="{{recipe.url}}">
                  
                  <md-card-title>
                        <md-card-title-text>
                              <span class="md-headline">{{recipe.name}}</span>
                        </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                        <p>
                             {{recipe.shortDescription}}
                        </p>
                  </md-card-content>
                  
            </md-card>
      </div>
      </div>
       <div layout="column" flex-gt-sm="25" flex-gt-xs="50" flex-xs>
      <div layout="row" ng-repeat="recipe in recipes3" >

            <md-card flex ng-click="vm.showDetails(recipe, $event)" style="cursor:pointer;">
                  
                  <img ng-src="{{recipe.url}}">
                  
                  <md-card-title>
                        <md-card-title-text>
                              <span class="md-headline">{{recipe.name}}</span>
                        </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                        <p>
                             {{recipe.shortDescription}}
                        </p>
                  </md-card-content>
                  
            </md-card>
      </div>
      </div>
      <div layout="column" flex-gt-sm="25" flex-gt-xs="50" flex-xs>
      <div layout="row" ng-repeat="recipe in recipes4" >

            <md-card flex ng-click="vm.showDetails(recipe, $event)" style="cursor:pointer;">
                  
                  <img ng-src="{{recipe.url}}">
                  
                  <md-card-title>
                        <md-card-title-text>
                              <span class="md-headline">{{recipe.name}}</span>
                        </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                        <p>
                             {{recipe.shortDescription}}
                        </p>
                  </md-card-content>
                  
            </md-card>
      </div>
      </div>
      
</md-content>
