<md-dialog aria-label="Edit Recipe" class="cms-dialog-width">
    <form id="editRecipeForm" name="editRecipeForm" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit recipe</h2>
                <span flex></span>
                <i md-ink-ripples class="fa fa-times fa-lg cursos-pointer" ng-click="close()" aria-hidden="true"></i>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column">
                <div layout="row" layout-xs="column" layout-align="center">
                    <md-input-container class="md-block mr-8 ml-8" flex>
                        <input type="text" name="recipeName" placeholder="Name" required ng-model="recipe.name">
                    </md-input-container>
                    <md-input-container class="md-block mr-8 ml-8" flex>
                        <input type="text" name="recipeServings" placeholder="Servings" required ng-model="recipe.servings">
                    </md-input-container>
                    <md-input-container class="md-block mr-8 ml-8" flex>
                        <input type="text" name="recipeTime" placeholder="Time in minutes" required ng-model="recipe.time">
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" layout-align="center">
                    <md-input-container class="md-block mr-8 ml-8" flex>
                        <textarea name="recipesShortDescription" ng-model="recipe.shortDescription" required placeholder="Short description" md-select-on-focus></textarea>
                    </md-input-container>
                    <md-input-container class="md-block mr-8 ml-8" flex>
                        <textarea name="recipesDescription" ng-model="recipe.description" required placeholder="Description" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" layout-align="center">
                    <md-input-container class="md-block mr-8 ml-8" flex>
                        <input type="text" name="recipetUrl" placeholder="Url" ng-model="recipe.url">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Categories</label>
                        <md-select multiple ng-model="recipe.categories">
                        <md-option ng-repeat="category in categories" ng-value="category" ng-selected="vm.checkValue(category.id)">
                            {{category.name}}
                        </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-wrap>
                    <div layout="column" flex-gt-xs="50" flex="100">
                        <div layout="row">
                            <md-input-container class="md-block ml-8" flex>
                                <input type="text" name="recipeIngredients" placeholder="Ingredients" ng-model="recipe.ingredients">
                            </md-input-container>
                            <span class="pt-10">
                    <md-button class="md-icon-button md-primary" ng-click="vm.addIngredient()" aria-label="Add">
						<i class="fa fa-plus fa-2x" aria-hidden="true"></i>
					</md-button>
                    </span>
                        </div>
                        <div layout="row" hide-gt-xs show-xs>
                            <ul>
                                <li ng-repeat="ingr in recipe.ingredientsList track by $index">
                                    {{ingr}} &nbsp;
                                    <i md-ink-ripples ng-click="vm.removeIngredient($index)" class="fa fa-times cursos-pointer" aria-hidden="true"></i>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div layout="column" flex-gt-xs="50" flex="100">
                        <div layout="row">
                        <md-input-container class="md-block ml-8" flex>
                            <input type="text" name="recipeDirections" placeholder="Directions" ng-model="recipe.directions">
                        </md-input-container>
                        <span class="pt-10">
                    <md-button class="md-icon-button md-primary" ng-click="vm.addDirection()" aria-label="Add">
						<i class="fa fa-plus fa-2x" aria-hidden="true"></i>
					</md-button>
                    </span>
                        </div>
                        <div layout="row" hide-gt-xs show-xs>
                            <ul>
                            <li ng-repeat="dir in recipe.directionsList track by $index">
                                {{dir}} &nbsp;
                                <i md-ink-ripples ng-click="vm.removeDirection($index)" class="fa fa-times cursos-pointer" aria-hidden="true"></i>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>

                <div layout="row" show-gt-xs hide-xs>
                    <div layout="column" flex>
                        <ul>
                            <li ng-repeat="ingr in recipe.ingredientsList track by $index">
                                {{ingr}} &nbsp;
                                <i md-ink-ripples ng-click="vm.removeIngredient($index)" class="fa fa-times cursos-pointer" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </div>
                    <div layout="column" flex>
                        <ul>
                            <li ng-repeat="dir in recipe.directionsList track by $index">
                                {{dir}} &nbsp;
                                <i md-ink-ripples ng-click="vm.removeDirection($index)" class="fa fa-times cursos-pointer" aria-hidden="true"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-disabled="editRecipeForm.$invalid" ng-click="save(recipe)" aria-label="Save recipe">
                Save
            </md-button>
            <md-button ng-disabled="editRecipeForm.$invalid" ng-click="close()" aria-label="Save recipe">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>