<div id="login-page" layout="column" layout-align="center center">
      <div class="pt-40 login-wrapper" layout="column" layout-align="center center">
            <span>
            <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
            </span>
            <form class="pt-20 pb-30 pl-20 pr-20" id="loginForm" name="loginForm" novalidate>
                  <md-input-container class="md-block" md-no-float>
                        <input type="text" name="username" ng-model="login.username" placeholder="Username" required>
                  </md-input-container>
                  <md-input-container class="md-block" md-no-float>
                        <input type="text" name="password" ng-model="login.password" placeholder="Password" required>
                  </md-input-container>

                  <md-dialog-actions layout="row" layout-align="end">
                        <md-button class="md-primary" ng-disabled="loginForm.$invalid" ng-click="vm.login(login)" aria-label="Login">
                              LOGIN
                        </md-button>
                  </md-dialog-actions>
            </form>
      </div>
</div>