<div class="content" layout="column" layout-align="center">

	<!-- LOG OUT -->
	<span flex layout="row" layout-align="end" style="background:white;">
	<md-button ng-click="vm.logout()"><i class="fa fa-times" aria-hidden="true"></i> Log out</md-button>
	</span>


	<md-tabs md-dynamic-height md-border-bottom style="background:white;">

		<!--NEW TAB: RECIPES -->

		<md-tab label="Recipes">
			<md-content>
				<md-card>
					<div flex class="card md-default" layout-margin>
						<div layout>
							<div layout="column" flex>
								<div flex layout="row" layout-align="start center">
									<i class="fa fa-search pr-8 pl-24" aria-hidden="true"></i>
									<input class="search-input" ng-model="query.filter" ng-change="vm.getRecipes()" 
									ng-model-options="{debounce:500}" type="search" placeholder="Search by name" flex="100"
									 flex-xs>
								</div>
							</div>
							<div layout="column" layout-align="end">
								<span hide-xs>
					<md-button class="md-raised" ng-click="vm.addRecipe($event)"><i class="fa fa-plus" aria-hidden="true"></i> Add new recipe</md-button>
					</span>
								<span hide-gt-xs><md-button ng-click="vm.addRecipe($event)" class="md-icon-button md-primary" aria-label="Add">
						<i class="fa fa-plus fa-2x " aria-hidden="true"></i>
						</md-button>
					</span>
							</div>
						</div>
						<md-table-container>
							<table md-table id="recipeTable" class="md-primary md-data-table" md-progress="vm.loadingPromise">
								<thead md-head>
									<tr md-row>
										<th md-column>Name</th>
										<th md-column>Created by</th>
										<th md-column style="width:150px"></th>
									</tr>
								</thead>
								<tbody md-body>
									<tr md-row md-auto-select ng-repeat="recipe in recipes" class="hvr-fade">

										<td md-cell ng-if="!recipe.isDeleted">{{recipe.name}}</td>
										<td md-cell ng-if="!recipe.isDeleted">{{recipe.createdBy}}</td>
										<td md-cell ng-if="!recipe.isDeleted">
											<span>
										<md-button class="md-icon-button md-primary" ng-click="vm.editRecipe($event, recipe, $index)" aria-label="edit">
										<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
										</md-button>
										
										<md-button class="md-icon-button md-primary" ng-click="vm.removeRecipe(recipe, $index)" aria-label="remove">
										<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
										</md-button>
										</span>
										</td>
										<td md-cell colspan="3" ng-if="recipe.isDeleted">
											<div layout="row" layout-align="end center" flex>
												Are you sure you want to delete this recipe?
												<md-button ng-click="vm.restoreRecipe(recipe)" class="md-primary">RESTORE</md-button>

											</div>
										</td>


									</tr>

								</tbody>
							</table>
						</md-table-container>
						<md-table-pagination md-limit="query.limit" md-limit-options="[10, 20, 50]" md-page="query.page" md-total="{{totalRecipes}}"
                md-page-select="true" md-boundary-links="false" md-on-paginate="vm.onPaginateRecipes">
            </md-table-pagination>
					</div>
				</md-card>
			</md-content>
		</md-tab>

		<!-- NEW TAB: CATEGORIES -->

		<md-tab label="Categories">
			<md-content>
				<md-card>
					<div flex class="card md-default" layout-margin>
						<div layout>
							<div layout="column" flex>
								<div flex layout="row" layout-align="start center">
									<i class="fa fa-search pr-8 pl-24" aria-hidden="true"></i>
									<input class="search-input" ng-model="query2.filter" ng-change="vm.getCategories()" 
									ng-model-options="{debounce:500}" type="search" placeholder="Search by name" flex="100"
									 flex-xs>
								</div>
							</div>
							<div layout="column" layout-align="end">
								<span hide-xs>
					<md-button class="md-raised" ng-click="vm.addCategory($event)"><i class="fa fa-plus" aria-hidden="true"></i> Add new category</md-button>
					</span>
								<span hide-gt-xs><md-button ng-click="vm.addCategory($event)" class="md-icon-button md-primary" aria-label="Add">
						<i class="fa fa-plus fa-2x" aria-hidden="true"></i>
						</md-button>
					</span>
							</div>
						</div>
						<md-table-container>
							<table md-table id="categoryTable" class="md-primary md-data-table" md-progress="vm.loadingPromise">
								<thead md-head>
									<tr md-row>
										<th md-column>Name</th>
										<th md-column style="width:150px"></th>
									</tr>
								</thead>
								<tbody md-body>
									<tr md-row md-auto-select ng-repeat="category in categories" class="hvr-fade">

										<td md-cell ng-if="!category.isDeleted">{{category.name}}</td>
										<td md-cell ng-if="!category.isDeleted">
											<span>
										<md-button class="md-icon-button md-primary" ng-click="vm.editCategory($event, category, $index)" aria-label="edit">
										<i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
										</md-button>
										
										<md-button class="md-icon-button md-primary" ng-click="vm.removeCategory(category, $index)" aria-label="remove">
										<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
										</md-button>
										</span>
										</td>
										<td md-cell colspan="3" ng-if="category.isDeleted">
											<div layout="row" layout-align="end center" flex>
												Are you sure you want to delete this category?
												<md-button ng-click="vm.restoreCategory(category)" class="md-primary">RESTORE</md-button>

											</div>
										</td>


									</tr>

								</tbody>
							</table>
						</md-table-container>
						<md-table-pagination md-limit="query2.limit" md-limit-options="[10, 20, 50]" md-page="query2.page" md-total="{{totalCategories}}"
                md-page-select="true" md-boundary-links="false" md-on-paginate="vm.onPaginateCategories">
            </md-table-pagination>
					</div>
				</md-card>
			</md-content>
		</md-tab>
	</md-tabs>
</div>