.hvr-fade {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover {
  background-color: #eaeaea;
  cursor:pointer;
}
.search-input{
  border: none;
  font-size: 16px;
  padding: 3px;
}
.cms-dialog-width{
  width: 768px;
}
.cms-category-dialog-width{
  width: 312px;
}

.cursos-pointer{
  cursor: pointer;
}
